{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/landingpage.css' %}" />
    <title>Home</title>
</head>

<body data-tema="light" name="core">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="" style="cursor: context-menu;">Naufal Status</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Kabar!/">Kabar!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/SearchBook/">Books</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="core">
        <div class="accordionAyam">
            <h1>About Me, <b>Naufal</b> Hilmi Irfandi
                <div class="dot" id="dot1" name="light"></div>
                <div class="dot" id="dot2" name="dark"></div>
            </h1>
            <p class="description">
                Sedikit preview mengenai apa yang sedang saya lakukan dan pengalaman saya.
            </p>
            <ul class="accordion">
                <li>
                    <a class="toggle" href="javascript:void(0);" name="accordion1">Aktivitas Sekarang</a>
                    <ul class="inner">
                        <li>Nugas</li>
                        <li>Nugas</li>
                        <li>Nugas</li>
                    </ul>
                </li>
                <li>
                    <a class="toggle" href="javascript:void(0);" name="accordion2">Pengalaman Organisasi</a>
                    <ul class="inner">
                        <li>Bem Fasilkom UI</li>
                        <li>Osis SMAN 1 Bogor</li>
                    </ul>
                </li>
                <li>
                    <a class="toggle" href="javascript:void(0);" name="accordion3">Pengalaman Kepanitian</a>
                    <ul class="inner">
                        <li>Staff DRM Compfest</li>
                        <li>Staff Mentor PMB</li>
                        <li>Staff Games & Competition CGT Fasilkom UI</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'js/landingpage.js' %}"></script>
</body>

</html>