{% extends 'homepage/base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'css/kabar.css' %}" /> {% endblock %} {% block content %}
<div class="kabar">
    <div class="d-flex justify-content-center">
        <h1 class="judulkabar">
            <b name="judul">Halo {{ user }}, apa kabar?</b>
        </h1>
    </div>
    <div class="kabar2">
        <form action="" method="POST">
            {% csrf_token %} {{ formKabar }}
            <div class="centre-items" style="margin-top: 1rem">
                <input type="submit" class="btn btn-primary" value="masukan">
            </div>
        </form>
    </div>
    <div class="table-responsive" id="Table">
        <table class="table table-hover">
            <thead>
                <tr class="d-flex">
                    <th scope="col" class="col-3">Waktu</th>
                    <th scope="col" class="col-9">Cerita</th>
                </tr>
            </thead>
            {% for i in coreDatabase %}
            <tbody>
                <tr class="d-flex">
                    <td class="col-3">{{i.waktu}}</td>
                    <td class="col-9">{{i.kabarUser}}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>
<div>
    <form class="logout-link" action="/accounts/SignOut/" method="post">
        {% csrf_token %}
        <button name="buttonlogout" type="submit">Sign Out</button>
    </form>
</div>
{% endblock %}