[data-tema="light"] {
    --first-color: #353a40;
    --second-color: #353a40;
    --third-color: #f8f9fb;
}

[data-tema="dark"] {
    --first-color: #f8f9fb;
    --second-color: #f8f9fb;
    --third-color: #353a40;
}

* {
    transition: color 500ms;
    transition: background-color 500ms;
}

body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    height: 100%;
    background-color: var(--third-color);
}

.core {
    margin-top: 4rem;
}

.accordionAyam {
    width: 40%;
    min-width: 300px;
    max-width: 400px;
    margin: 1.5em auto;
    color: var(--first-color);
}

.accordionAyam a {
    text-decoration: none;
    color: inherit;
}

.accordionAyam p {
    font-size: 1.1em;
    margin: 1em 0;
}

.accordionAyam .description {
    margin: 1em auto 2.25em;
}

.accordionAyam h1 {
    font-weight: 400;
    font-size: 2.5em;
}

.accordionAyam ul {
    list-style: none;
    padding: 0;
}

.accordionAyam ul .inner {
    padding-left: 1em;
    overflow: hidden;
    display: none;
}

.accordionAyam ul .inner .show {
    /*display: block;*/
}

.accordionAyam li {
    margin: .5em 0;
}

.accordionAyam li a.toggle {
    width: 100%;
    display: block;
    background: var(--second-color);
    color: var(--third-color);
    padding: .75em;
    border-radius: 0.15em;
    transition: background .3s ease;
}

.accordionAyam li a.toggle:hover {
    background: var(--first-color);
}

.dot {
    margin: 0 0.2rem 0 0.2rem;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

#dot1 {
    background-color: #f8f9fb;
}

#dot2 {
    background-color: #353a40;
}