body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fb;
}

.SearchBook {
    height: 100%;
    padding: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.judulSearchBook {
    font-size: 2.5em;
}

#Table {
    padding-top: 2rem;
    margin: 0;
}