{% extends 'homepage/base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}" /> {% endblock %} {% block content %}
<div class="container">
    <h1>
        Sign In
    </h1>
    <form class="signin-form" action="/accounts/SignIn/" method="post">
        {% csrf_token %} {{ formSignIn }} {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}"> {% endif %}
        <input name="tombolsignin" type="submit" value="Sign In">
    </form>
    <div class="signupbtn">
        <h1>
            Dont have an account yet?
        </h1>
        <p>
            register here <a href="/accounts/SignUp/" name="buttonsignup" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Sign Up</a>
        </p>
    </div>
</div>
{% endblock %}