{% extends 'homepage/base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}" /> {% endblock %} {% block content %}
<div class="container">
    <h1>
        Sign Up
    </h1>
    <form class="signup-form" action="/accounts/SignUp/" method="post">
        {% csrf_token %} {{ formSignUp }}
        <input name="submitbutton" type="submit" value="Sign Up">
    </form>

</div>
{% endblock %}